<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>e-Xhibyte | Profile</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="/"><h1>e-Xhibyte</h1></a>
        <h6><i>Host your dream from your device.</i></h6>
      </div>
      <div class="nav">
        <a href="/home">Home</a>
        <span>|</span>
        <a href="/logout">Log Out</a>
      </div>
    </div>
    <div class="hero-wrapper">
      <h1>Profile</h1>
      <div class="hero-container">
        <div class="hero-img">
          <a href="/upload">
          <small>Change</small>
          <img src="/uploads/<%= user.imgUrl %>" alt="profile image">
          </a>
          </img>
        </div>
        <div class="hero-name">
          <h2><strong><%= user.name %></strong></h2>
        </div>
        <div class="hero-details">
          <h3>Details</h3>
          <div class="hero-detail">
            <p>User Name:</p>
            <p><%= user.username %></p>
          </div>
          <div class="hero-detail">
            <p>Tag:</p>
            <p><%= user.tag %></p>
          </div>
          <div class="hero-detail">
            <p>Phone Number:</p>
            <p><%= user.phone %></p>
          </div>
          <div class="hero-detail">
            <p>Email Id:</p>
            <p><%= user.email %></p>
          </div>
          <div class="hero-detail">
            <p>Events Organised:</p>
            <% artExb.map(art => {%>
              <p><%= art.name %></p>
            <% }) %>
          </div>
        </div>
        <div class="hero-button-wrapper">
          <div class="hero-details-edit">
            <a href="/profile/edit">Edit Details</a>
          </div>
          <div class="hero-details-delete">
            <a href="/profile/delete">Delete Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
  </body>
</html>
