<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>e-Xhibyte | Product Exhibition</title>
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="/"><h1>e-Xhibyte</h1></a>
            <h6><i>Host your dream from your device.</i></h6>
        </div>
        <div class="nav">
            <a href="/productExb/add">Add Product Exhibition</a>
            <span>|</span>
            <a href="/productExb">Product Exhibitions</a>
            <span>|</span>   
            <a href="/home">Home</a>
        </div>
    </div>

    <div class="content-news">
        <h1><%= fair.name %></h1>
        <div class="news-section-header">
            <div class="exhibition-section active">
                <h3><a href="/viewProductExb">Exhibition Works</a></h3>
            </div>
        </div>
        
        
        <% items.map(item => { %>
            <div class="news-items">
              <div class="news-item">
                <div class="item-img">
                  <img src="../../uploads/<%= exb.imgUrl %>" alt="" />
                </div>
                <div class="item-text">
                  <div class="event-name">
                    <h2><%= item.itemName %></h2>
                  </div>
                  <br />
                  <div class="event-place">
                    <p><%= item.appName %></p>
                  </div>
                  <br />
                  <div class="event-duration">
                    <p>
                      Description : <%= item.itemDesc %>
                    </p>
                  </div>
                  <br />
                  <br />
                  <br />
                  <div class="status-url-wrapper">
                    <div class="like-url">
                      <a href="#">👍</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% }) %>


    </div>

    <div class="footer">
        <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
</body>
</html>